.titre_asso{
  font-weight: bold;
  font-family: Corps;
  src: url(fonts/Nexa.woff2) format("woff2");
  
}
.img_asso{
  width: 100px;
  scale: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(228,236,204);
}

.rej_bouton{
  min-width: 50px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
}
.cote_a_cote>*{
  display: inline-block;
}