#liste_cate{
  margin-left: 5px;
  background-color: var(--couleur-police-clair);
  display: default;
  width: 350px;
  padding: 20px;
  padding-right: 60px;
  border-radius: 20px;
  transition: 0.5s;
  overflow-x: hidden;
  height: min-content;
}
#liste_cate>label{
  max-width: 100px;
  overflow: hidden;
  transition: 0.5s;
  padding: 2px;
}
#liste_cate>label:hover{
  background-color: var(--couleur-bleu);
  color: var(--couleur-police-clair);
  color-weight: bold;
  
}
#liste_cate>input{
  position: absolute;
  left: 380px;
  transition: 0.5s;
}
.label_cate{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 30px;
}

.cate{
  width: max-content;
  margin-left: 10px;
  border-radius: 30px;
  background-color: var(--couleur-gris-clair);
  padding: 20px;
  min-height: 100px;
  max-height: 550px;
  margin-bottom: 10px;
}
.cate_titre{
  font-weight: bold;
  font-size: 30px;
}

.wrapper_all{
  width: min-content;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}