.case{
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: calc(100% - 25px);
    margin-top: 10px;
    margin-bottom: 10px;
}
.desc{
    margin: auto;
    width: calc(100% - 25px);
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit_button{
    width: calc(100% - 25px);
    border-radius: 10px;
    background-color: var(--couleur-vert-valid);
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    border: none;
    padding: 5px;
    margin: auto;
}
button{
    background-color: var(--couleur-vert-valid);
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 100%;
    font-weight: bold;
}