:root{
  
  --couleur-vert-valid:#8dd27e;
  --couleur-gris-clair: rgb(249, 249, 249);
  --couleur-gris-moyen_clair: rgb(219, 219, 219);
  --couleur-gris: rgb(145, 145, 145);
  --couleur-gris-fonce: rgb(84, 84, 84);
  --couleur-bleu-clair: #F2D1A0;
  --couleur-bleu: rgb(0, 123, 199);
  --couleur-bleu-gris: #417181;
  --couleur-vert-clair: #B9E5B0 /*91e77a*/;

  --couleur-police-clair: #ffffff;
  --couleur-police-fonce: #000000;
  --couleur-police-moyen: #575757;

  --couleur-fond: #ffffff;
  --couleur-fond-clair: #ffffff;
  --couleur-fond-fonce: #000000;
}

@font-face{
  font-family: Corps;
  src: url(fonts/Nexa.woff2) format("woff2");
}

@font-face{
  font-family: Corps;
  src: url(fonts/Nexa-Heavy.woff2) format("woff2");
  font-weight: bold;
}
body{
  font-family: Corps;
  min-height: 100vh;
  /*background-color: #fbfbe3;*/
  background-color: var(--couleur-fond);
  clear: both;
  margin: 0px;
  padding: 0px;
}

.message_alerte{
  background-color: var(--couleur-fond-clair);
  font-size: 15px;
  border-radius: 10px;
  width: 150px;
  height: 100px;
  padding: 10px;
  position: fixed;
  left: calc(50% - 75px);
  top: calc(50% - 50px);
  z-index: 9998;
}

.wrapper{ 
 flex-wrap: wrap;
 display: inline-flex;
}

.a_hidden{
  color: inherit;
  text-decoration: inherit;
}
.wrapper_enfant{
  border-radius : 20px;
  background-color: var(--couleur-gris-clair);
  width: 200px;
  min-height: 200px;
  padding: 20px;
  margin: 15px;
  color: white;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 2px 4px var(--couleur-gris-moyen_clair);
  overflow: hidden;
  clear: both;
  
}
/*
Cloche de notification des nouvelles invitations
*/
#notif_bell{
  height: 60%;
  min-height: 40px;
  min-width: 40px;
  max-height:50px;
  position: absolute;
  transform: translate(0,40%);
  cursor: pointer;
}

#notif_bell img{
  position: absolute;
  width: 80%;
  transform: translate(0,-20%);
}

#notif_bell_nb{
  position: absolute;
  color: red;
  font-weight: bolder;
  transform: translate(0,-70%);
}

#notif_bell_glob{
  position: relative;
  float: right;
  right: 150px;

}

#notif_bell_liste_miss{
  position: absolute;
  top:50px;
  right: -50px;
  width: 350px;
  background-color: #ffffff;
  border: 1px solid black;
  display: none;
}
#notif_bell_liste_miss > div{
  padding: 5px;
  clear: both;
}
#notif_bell_liste_miss >div >div{
  margin: 5px;
  display: inline-block;
  width: fit-content;
}
#notif_bell_liste_miss .miss_bout{
  cursor: pointer;
  float: right;
}
#notif_bell_liste_miss .acc{
  color: green;
}

#notif_bell_liste_miss .ref{
  color: red;
}

.wrapper_enfant:hover {
  transform: scale(1.1);
}

.wrapper_enfant>*{
  max-width: 100%;
  margin: auto;
  /*
  align-content: center;
  justify-content: center;*/
  text-align: justify;
  border-radius: 15px;
  text-overflow: ellipsis;
  color: var(--couleur-police-fonce);
  overflow: visible;
}
.wrapper_enfant>div>div{
  overflow: hidden;
}
#barre_titre{
  padding: 0;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 40px;
  font-size: 120%;
  display: flex;
  flex-wrap: wrap;
}

#barre_titre>li{
  margin-left: 0px;
  float: left;
  list-style-type: none;
  border-radius: 10px;
  margin: 5px;
  background-color: var(--couleur-fond);
  vertical-align: baseline;
  padding: 0px;
}

#benevolink{
  height: 70px;
  position: relative;
  float:left;
  cursor: pointer;
}

#barre_titre>li>a {
  /*aspect du bouton (plus c'est là qu'on dit quelle type de liste on veut*/
    display:block;
    float:right;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    padding: 10px;
    background-color: #91e77a;
    color: var(--couleur-police-fonce);
    text-decoration:none;
    text-align:center;
    padding:50 150 50 150px;
    border: none /*2px double #354331*/;
    /*haute,droite,basse,gauche*/
    border-radius: 10px;
    transition: 0.3s;
}

#barre_titre>li>a:hover{ /* aspect du bouton lorsqu'il est survolé par la sourie */ 
    background-color:var(--couleur-gris-clair);
    border-color:var(--couleur-vert-clair);
}

@keyframes apparaitre{
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.boite_auth{/*utilisé lors de l'authentification */
  width: 400px;
  height: 500px;
  background-color: var(--couleur-fond);
  padding: 20px;
  border-radius: 20px;
  z-index: 9001;
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 200px);
  animation: 0.4s ease-in 0s 1 apparaitre;
  
}
#Recherche{
  width: 280px;
  border-radius: 10px;
}
.search_btn{
  border-radius: 5px;
  background-color: var(--couleur-fond-clair);
  font-family: Corps;
}
.search_btn:hover{
  border-radius: 5px;
  background-color: #354331;
  color:var(--couleur-police-clair);
  font-family: Corps;
}
.background_sombre{/*Background utilisé pour mettre en sombre tout le site*/
  cursor: not-allowed;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 9000;
  top: 0px;
  left: 0px;
} 

.form_connexion{
  margin-bottom: 10px;
  display : flow;
}
.form_connexion>input{
  margin-right: 10px;
}

.aide{
  font-size: 14px;
  color: var(--couleur-bleu-gris);
  text-decoration: underline;
  cursor: pointer;
}

.bouton_inscr{
  width : 80%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--couleur-vert-valid);
  text-align: center;
  font-weight: bold;
  color: var(--couleur-police-clair);
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.bouton_inscr:hover{
  width: 85%;
  font-size: 18px;
}

/*css pour le footer*/
#footer{
  background-color: var(--couleur-gris);
  /*margin-bottom:0;*/
  bottom:0;
  width:100%;
  /*border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;*/
  outline-color: #55963c;
  outline-width: 5px;
  position: relative;
  margin-top: 0px;
  clear: both;
 
}
#footer>div>ul{/*style de la liste dans le footer*/
  list-style-type: none;
  }
#footer>div>ul>a{}
#footer>div>h1{/*Pour choisir le style du titre spécifiquement*/
  }
#footer .container{
  position: relative;
}
#footer h1{
  margin-left: 10px;
  font-size: 120%;
}
.p-0 {
    padding: 0!important;
}


/*Pour la page de présentation de l'équipe*/
.presentation{
  
}
.titre_pres{
  
}
.text_pres{}

.ajouter_asso{
  background: url(../img/plus.jpg);/*permet de mettre l'image plus en arrière plan, seul problème : la taille de l'image n'est pas adaptée donc on ne vois que le coté supérieur gauche (donc seulement une couleur unie beige)*/
  background-size: contain;
  /*background-color: #6dd66b;*/
  border-radius: 20px;
  max-width: 80px;
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
  position: fixed;
  bottom: 10%;
  right: 10%;
  cursor: pointer;
  z-index: 8999;
  font-size: 70px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  text-overflow: clip;
  color: var(--couleur-police-clair);
  transition: transform 0.3s ease-in-out;
}
.ajouter_asso:hover{
  transform: scale(1.1);
  background-size: contain;
}
#form_connex>input{
  margin-bottom: 5px;
}

.Iframe_container{
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  background-color: rgba(0,0,0,0);
}
#Iframe{
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0,0,0,0);
  position: absolute;
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  border: none;
}
