#list_assos{
  margin-top: 50px;
}
#list_assos>* {
  padding: 20px;
  width: 500px;
  height: 70px;
  color: var(--couleur-police-fonce);
  font-weight: bold;
  border-radius: 30px;
  background-color: var(--couleu-gris-clair);
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
}
#list_assos>*:hover{
  width: 520px;
  height: 77px;
  font-size: larger;
}

#list_assos>*>*{
  display: inline;
  margin-left: 10px;
}



.img_association{
  max-width: 70px;
  max-height: 70px;
  position: relative;
  
  top : 20%;
  t
}