.ItemBox{
    width: 160px;
    margin: 5px;
    height: 260px;
    overflow: hidden;
    text-align: justify;
    word-wrap: break-word;
    border: 1px black solid;
    padding : 10px;
    cursor : pointer;
    display: inline-block;
}
.ItemBox p{
    margin: 0px;
}
.ItemBox .ItemBoxTitre{
    font-weight: bold;
    font-size: 110%;
}

.ItemBox img{
    width: 80%;
    margin-left: 10%;
}