/* Contenu du fichier barre_menu.css */
.search_barre {
  padding: 8px;
  border: 1px solid var(--couleur-gris);
  border-radius: 4px;
  font-size: 16px;
  
}

.search_btn {
  padding: 8px 12px;
  background-color: var(--couleur-vert-valid);
  border: none;
  color: var(--couleur-police-clair);
  font-size: 16px;
  cursor: pointer;
  
  /* Autres styles personnalisés */
}

#barre_titre {
  display: flex;
  align-items: center;
  /* Autres styles personnalisés */
}

#barre_titre li {
  margin-right: 10px;
  /* Autres styles personnalisés */
}

#barre_titre .search {
  margin-left: auto;
  /* Autres styles personnalisés */
}
